week4venv/
AutomatedTestingWithAI/__pycache__/
PredictiveAnalytics4ResourceAllocation/__pycache__/
PredictiveAnalytics4ResourceAllocation/dataset/
PredictiveAnalytics4ResourceAllocation/.ipynb_checkpoints/